################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CampRide/obj
/CampRide/.vs
/CampRide/bin/Debug/net9.0
